@import 'style'
.content > h1
    padding: 0px 13px;
    border-left: 8px solid #ed515191
.content > h2
    padding:0px 12px;
    border-left: 7px solid #BF51ED91
.content > h3
    padding:0px 11px;
    border-left: 6px solid #6495ed91
.content > h4
    padding:0px 10px;
    border-left: 5px solid #e2aa2b91
.content > h5
    padding:0 19px;
    border-left: 4px solid #64c1c191
